<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">
        <MudText Typo="Typo.h6" Class="px-4"><a href="/">Państwa</a></MudText>
        <MudDivider Class="my-2" />
        <MudNavGroup Title="Państwa" Icon="@Icons.Filled.Ballot" Expanded="true">
            <MudNavLink Href="login" Icon="@Icons.Filled.Login">Logowanie</MudNavLink>
            <MudNavLink Href="dlazalogowanych" Icon="@Icons.Filled.People">Dla zalogowanych</MudNavLink>
            <MudNavLink Href="rejestracja" Icon="@Icons.Filled.FileOpen">Rejestracja</MudNavLink>
            <MudNavLink Href="wrzucanie" Icon="@Icons.Filled.Upload">Wrzucanie pliku</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudPaper>